p,
li,
h3 {
  color: #828282;
  size: 24px;
  line-height: 30px;
}

h3 {
  font-weight: bold;
}

ul {
  list-style: none;
}

h4 {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  color: #707079;
}

.formInput {
  width: 100%;
}
