.applicationWrapper {
  background-color: rgba(0, 0, 0, 0.08);
}

.application {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.applicationContent {
  padding: 50px 80px;
}
