.heading {
  margin-bottom: 35px;
}

.heading h2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.applicationQuestion p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #828282;
}

.applicationQuestion li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}

.questionList li:last-child {
  padding-bottom: 0;
}

.heading .mainList {
  list-style-type: decimal;
}

.mainListItem {
  margin-top: 15px;
  margin-bottom: 15px;
}

.questionList {
  list-style-type: disc;
  color: #828282;
  padding-left: 25px;
}

.applicantQuestionFormBlock p {
  line-height: 30px;
}
.applicantQuestionForm label {
  color: #828282;
}

.heading li b {
  font-weight: 500;
}
